:root {
  --primary-font: 'Kanit', sans-serif;
  --Secondary-font: 'Montserrat', sans-serif;
  --Primary-color: #FFFFFF;
  --Active-color: #2ACC32;
  padding: 0%;
  margin: 0%;
}

.body {}

.logo {
  display: flex;
  font-family: var(--primary-font);
  justify-content: center;
  align-items: center;
  /* position: relative; */
  font-size: 24px;
}

.line {
  background-color: black;
  height: 2px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  font-family: var(--primary-font);
  font-size: 16px;
}

#item-1 {
  color: var(--Active-color);
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-desc {
  font-family: var(--Secondary-font);
  font-size: 90px;
  margin-top: 5rem;
  position: relative;
}

.pad-left {
  padding-left: 12rem;
  margin-top: 0rem;
  margin-bottom: 0px;
}

.desc-p {
  font-family: var(--Secondary-font);
  font-size: 25px;

}

.image {
  position: absolute;
  left: 0rem;
  margin-top: 5rem;
}

.image-2 {
  position: absolute;
  left: 0rem;
  bottom: 0rem;
  padding-left: 15rem;
}

.image-3 {
  position: absolute;
  right: 0rem;
  bottom: 2rem;
}

.image-4 {
  position: absolute;
  right: 0rem;
  padding-top: 15rem;
  padding-right: 5rem;
}

.image-5 {
  position: absolute;
  right: 0rem;
  bottom: 0rem;
  padding-right: 20rem;
}

.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: #218225;
  font-family: var(--Secondary-font);
  padding: 0.8rem;
  border-radius: 12px;
  color: #FFFFFF;
  font-size: 26px;
  border-color: #FFFFFF;
}

.About-us {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.AU-img {
  margin-top: 14rem;
}

.AU-desc {
  margin-top: 14rem;
}

.AU-desc h1 {
  font-family: var(--Secondary-font);
  font-size: 36px;
  color: var(--Active-color);
}

.AU-desc p {
  font-family: var(--Secondary-font);
  font-size: 22px;
}

.AU-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}


.AU-sect {
  margin-top: 14rem;
}



.serv-info {
  background-color: #D9D9D9;
  height: 1700px;
  margin-top: 6rem;
  width: 100%;
}

.serv-head h1 {
  font-family: var(--Secondary-font);
  font-size: 50px;
  margin-left: 6rem;
  color: #218225;
}


.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.overlap {
  width: 100%;
  height: 1298px;
}

.rectangle {
  width: 490px;
  height: 450px;
  background-color: #FFFFFF;
  border-radius: 34px;
  margin-left: 2rem;
}

.rectangle-1 {
  margin-top: 1rem;
}

.rectangle-3 {
  margin-bottom: 2rem;
}

.rectangle-4 {
  margin-left: 46rem;
  margin-bottom: 3rem;
}

.rectangle-2 {
  margin-left: 46rem;
  margin-top: 2rem;
}

.rectangle:nth-child(2),
.rectangle:nth-child(4) {
  margin-top: 100px;
}

.ser-img {
  margin-top: 1rem;
  margin-left: 1rem;
}

.rectangle-1 h1 {
  color: var(--Active-color);
  font-family: var(--Secondary-font);
  font-size: 36px;
  margin-left: 1rem;
}

.rectangle-1 p {
  font-family: var(--Secondary-font);
  font-size: 22px;
  margin-left: 1rem
}

.rectangle-2 h1 {
  color: var(--Active-color);
  font-family: var(--Secondary-font);
  font-size: 36px;
  margin-left: 1rem;
}

.rectangle-2 p {
  font-family: var(--Secondary-font);
  font-size: 22px;
  margin-left: 1rem;
}

.rectangle-3 h1 {
  color: var(--Active-color);
  font-family: var(--Secondary-font);
  font-size: 36px;
  margin-left: 1rem;
}

.rectangle-3 p {
  font-family: var(--Secondary-font);
  font-size: 22px;
  margin-left: 1rem;
}

.rectangle-4 h1 {
  color: var(--Active-color);
  font-family: var(--Secondary-font);
  font-size: 36px;
  margin-left: 1rem;
}

.rectangle-4 p {
  font-family: var(--Secondary-font);
  font-size: 22px;
  margin-left: 1rem;
}

.faq {
  background-color: #D9D9D9;
  padding-bottom: 4rem;
}

.faq h1 {
  color: var(--Active-color);
  font-family: var(--Secondary-font);
  font-size: 35px;
  margin-left: 2rem;
}

.faq-cards {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4rem;
  margin-top: 8rem;

}

.card {
  width: 250px;
  height: 325px;
  background-color: #FFFFFF;
  border-radius: 21px;
  margin-bottom: 4rem;
}

.card-img {
  width: 224px;
  height: 123px;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.card-img h1 {
  color: var(--Active-color);
  font-family: var(--Secondary-font);
  font-size: 24px;
}

.card-img p {
  font-family: var(--Secondary-font);
  font-size: 16px;
}

.bg-color {
  background-color: #D9D9D9;
  margin-bottom: 4rem;
}

.card {
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-around;
}

.footer-2,
.footer-3 h1 {
  font-family: var(--Secondary-font);
  font-size: 18px;
}

.page-link {
  text-decoration: none;
  color: inherit;
}

.hs2-main {
  display: flex;
  justify-content: space-between;
}

.hs2-main-i1 {
  font-family: var(--Secondary-font);
  margin-left: 2rem;
}

.hs2-main-i1 h1 {
  margin-top: 4rem;
  margin-left: 6rem;
  font-size: 90px;
  position: relative;
}

.hs2-main-i1 h2 {
  color: var(--Active-color);
  font-size: 36px;
  margin-left: 14rem;
}


.paragraph {
  margin-left: 14rem;
  margin-top: 6rem;
  font-size: 20px;
  font-weight: 400;
  width: 560px;
  height: 560px;
}

.au-main-img {
  position: absolute;
  left: 0;
}

.au-main-info {
  display: flex;
  justify-content: space-between;
  font-family: var(--Secondary-font);
  padding: 2rem;
}

.au-main-info h1 {
  font-size: 40px;
  color: var(--Active-color);
}

.au-main-info p {
  font-size: 20px;
}

.au-main-info-2 {
  display: flex;
  justify-content: left;
  font-family: var(--Secondary-font);
  padding: 2rem;
}

.au-main-info-2 h1 {
  font-size: 40px;
  color: var(--Active-color);
}

.au-main-info-2 p {
  font-size: 20px;
}

.info-para {
  width: 950px;
  height: 250px;
}

.cu-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cu-header h1 {
  font-family: var(--Secondary-font);
  font-size: 90px;
}

.cu-img {
  position: absolute;
  transform: translateY(0%);
  transform: translateX(-30%);
}

.cu-info {
  display: flex;
  justify-content: space-between;
  font-family: var(--Secondary-font);
  margin-top: 10rem;
}

.div-info-1 p {
  font-size: 20px;
}

.div-info-2 p {
  font-size: 20px;
}

.div-info-1 {
  margin-left: 2rem;
}

.div-info-2 {
  margin-right: 2rem;
}

.info-input {
  background-color: #E9E9E9;
  width: 567px;
  height: 61px;
  border: none;
  outline: none;
}

::placeholder {
  opacity: 0.5;
  padding-left: 0.5rem;
}

.cu-info-2 {
  display: flex;
  justify-content: space-between;
  font-family: var(--Secondary-font);
  margin-top: 10rem;
}

.div-info-3 {
  margin-left: 2rem;
  font-size: 20px;
}

.div-info-4 {
  margin-right: 2rem;
  font-size: 20px;
}

.info-enquiry {
  width: 567px;
  background-color: #E9E9E9;
  height: 200px;
  border: none;
  outline: none;
}

.cu-button {
  width: 482px;
  height: 57px;
}

.cu-button-div {
  margin-top: 9rem;
  margin-bottom: 9rem;
}

.serv-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}

.serv-main-info {
  display: flex;
  justify-content: space-between;
  font-family: var(--Secondary-font);
  margin-top: 6rem;
}

.serv-info-1 {
  background-color: #EBE9E9;
  border-radius: 34.03px;
  width: 487.73px;
  height: 449.65px;
  margin-left: 6rem;
  padding: 2rem;
}

.serv-info-1 h1 {
  font-size: 36px;
  color: var(--Active-color);
}

.serv-info-1 p {
  font-size: 22px;
}

.serv-info-2 {
  background-color: #EEFFEF;
  border-radius: 34.03px;
  width: 487.73px;
  height: 449.65px;
  margin-right: 6rem;
  padding: 2rem;
}

.serv-info-2 h1 {
  font-size: 36px;
  color: var(--Active-color);
}

.serv-info-2 p {

  font-size: 22px;
}

.serv-main-info-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 6rem;
  font-family: var(--Secondary-font);
}

.serv-info-3 {
  background-color: #EBE9E9;
  border-radius: 34.03px;
  width: 487.73px;
  height: 449.65px;
  margin-left: 6rem;
  padding: 2rem;
}

.serv-info-3 h1 {
  color: var(--Active-color);
  font-size: 36px;
}

.serv-info-3 p {
  font-size: 22px;
}

.serv-info-4 {
  margin-right: 9.7rem;
}

.serv-main-info-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  font-family: var(--Secondary-font)
}

.serv-info-5 {
  width: 1078.36px;
  height: 481.25px;
  border-radius: 34.03px;
  background-color: #EEFFEF;
  padding: 2rem;
}

.serv-info-5 h1 {
  color: var(--Active-color);
  font-size: 36px;
}

.serv-info-5 p {
  font-size: 22px;
}

.serv-main-info-4 {
  display: flex;
  justify-content: space-between;
  font-family: var(--Secondary-font);
  margin-top: 6rem;
}

.serv-info-6-v1 {
  width: 487.73px;
  height: 543.63px;
  background-color: #EBE9E9;
  border-radius: 34.03px;
  margin-left: 6rem;
  padding: 2rem;
}

.serv-info-6-v1 h1 {
  font-size: 36px;
  color: var(--Active-color);

}

.serv-info-6-v1 p {
  font-size: 22px;
}

.serv-info-7 {
  width: 487.73px;
  height: 675px;
  background-color: #EBE9E9;
  border-radius: 34.03px;
  margin-right: 6rem;
  font-family: var(--Secondary-font);
  padding: 2rem;
}

.serv-info-7 h1 {
  font-size: 36px;
  color: var(--Active-color);
}

.serv-info-7 p {
  font-size: 22px;
}

.serv-info-6-v2 {
  margin-left: 6rem;
  margin-top: 2rem;
}

.serv-main-info-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--Secondary-font);
  margin-top: 6rem;
}

.serv-info-8 {
  padding: 2rem;
  background-color: #EEFFEF;
  width: 1078.36px;
  height: 675px;
  border-radius: 34.03px;
}

.serv-info-8 h1 {
  font-size: 36px;
  color: var(--Active-color);
}

.serv-info-8 p {
  font-size: 22px;
}

.serv-main-info-6 {
  display: flex;
  justify-content: space-between;
  margin-top: 6rem;
}

.serv-info-9 {
  margin-left: 12rem;
}

.serv-info-10 {
  margin-right: 12rem;
}

.serv-main-info-7 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  font-family: var(--Secondary-font);
}

.serv-info-11 {
  background-color: #EBE9E9;
  padding: 2rem;
  border-radius: 34px;
  width: 1078.36px;
  height: 350px;
  margin-bottom: 6rem;
}

.serv-info-11 h1 {
  font-size: 36px;
  color: var(--Active-color);
}

.serv-info-11 p {
  font-size: 22px;
}

.hamburger-icon{
  display: none;
}



.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 3px 0;
}
.dp-logo{
  position: relative;
}
.dropdown-menu ul{
  padding: 12px;
list-style-type: none;
}

.dp-list-items{
  padding: 1rem;
  margin-left: 11rem;
}

.logo-center{
  justify-content: center;
}

.login-main{
  display: flex;
  justify-content: space-between;
  font-family: var(--Secondary-font);
}

.login-desc{
padding: 55px;
}
.login-desc h1{
  margin-bottom: 4rem;
  font-size: 75px;
}
.login-p{
  margin-top: 6rem;
  font-size: 18px;
}
.login-p a{
  text-decoration: none;
  color: var(--Active-color);
}
.login-img{
  margin-left: 29rem;
}
.input{
  text-decoration: none;
  width: 369px;
  height: 62px;
  background-color: #EBE9E9;
  border: none;
  outline: none;
}
::placeholder{
  color: #2ACC32;
}

.input-container{
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.login-input h2{
  font-size: 35px;
}

.login-input{
  margin-right: 6rem;
}

.login-button{
  width: 322px;
  height: 60px;
  background-color: #218225;
  color: white;
  border: none;
  outline: none;
  margin-top: 4rem;
  border-radius: 12px;
}

.login-footer{
  margin-top: 4rem;
  margin-left: 4rem;
}

.links{
  display: flex;
  margin-left: 6rem;
  gap: 30px;
}
.register-main{
  display: flex;
  justify-content: space-between;
  font-family: var(--Secondary-font);
  gap: 35px;
}

.register-1{
  margin-left: 6rem;
}

.register-1 h1{
  font-size: 75px;
}
.register-1 p{
  margin-left: 4rem;
  font-size: 18px;
}
.register-1 a{
  text-decoration: none;
  color: #2ACC32;
}

.register-link{
  margin-left: 4rem;
}

.register-img{
  margin-left: 29rem;
}

.register-p{
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.register-2{
  margin-right: 6rem;
}

.register-2 h2{
  font-size: 60px;
}
.register-input-container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.register-input{
  text-decoration: none;
    width: 369px;
    height: 62px;
    background-color: #EBE9E9;
    border: none;
    outline: none;
}



.register-button{
  width: 369px;
    height: 60px;
    background-color: #218225;
    color: white;
    border: none;
    outline: none;
    margin-top: 4rem;
    border-radius: 12px;
}

.register-footer{
  margin-left: 6rem;
  margin-bottom: 2rem;
}

.register-links{
  display: flex;
  gap: 30px;
  margin-left: 6rem;
}
.login-main h2{
font-size: 60px;
}

.product-img{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  
}

.product-display{
  display: flex;
  justify-content: space-between;
}


.p-1{
 background-color:  #DBDBDB;
  font-family: var(--Secondary-font);
  margin-left: 2rem;
  border-radius: 40px;
  width: 456px;
  height: 550px;
  margin-top: 16rem;
  position: relative;
  padding: 3rem;
}

.p-1 h3{
  font-size: 40px;
  color: #218225;
  margin-top: 14rem;
}

.p-1 p{
  font-size: 26px;
  color: #191819;
}

.p-2{
  margin-right: 2rem;
  margin-top: 16rem;
  position: relative;
  padding: 3rem;
  border-radius: 40px;
  width: 456px;
  height: 688px;
  background-color: #A9CD87;
  font-family: var(--Secondary-font);
}

.p-2 h3{
  font-size: 40px;
  color: #2ACC32;
  margin-top: 14rem;
}

.p-2 p{
  font-size: 26px;
  color: #191819;
}

.p-1-img{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 14rem;
}

.p-2-img{
  position: absolute;
  right: 50%;
  transform: translateY(-40%);
  left: 0.75rem;
}

.product-buttons{
  display: flex;
  justify-content: space-between;
}

.order{
  width: 160px;
  height: 57px;
  background-color: #218225;
  color: #FFFFFF;
  font-family: var(--Secondary-font);
  font-size: 26px;
  border: none;
  outline: none;
  border-radius: 12px;
}

.enquire{
  width: 188px;
  height: 57px;
  background-color: #218225;
  color: #FFFFFF;
  font-family: var(--Secondary-font);
  font-size: 26px;
  border: none;
  outline: none;
  border-radius: 12px;
}

.product-display-2{
  display: flex;
  justify-content: space-between;
}

.p-3{
  background-color: #A9CD87;
  font-family: var(--Secondary-font);
  width: 456px;
  height: 650px;
  border-radius: 40px;
  position: relative;
  margin-top: 14rem;
  margin-left: 2rem;
  padding: 2rem;
}

.p-3 h3{
  color: #2ACC32;
  font-size: 40px;
  margin-top: 12rem;
}

.p-3 p{
  color: #191819;
  font-size: 26px;
}

.p3-img{
position: absolute;
right: 50%;
transform: translateY(-50%);
left: 0;
}

.p-4{
  font-family: var(--Secondary-font);
  width: 456px;
  height: 588px;
  position: relative;
  border-radius: 40px;
  margin-right: 2rem;
  padding: 2rem;
  margin-top: 22rem;
  background-color: #DBDBDB;
}

.p-4 h3{
  font-size: 40px;
  color: #218225;
  margin-top: 12rem;
}

.p-4 p{
  font-size: 26px;
  color: #191819;
}

.p4-img{
  position: absolute;
  transform: translateY(-50%);
  right: 0rem;
  left: 1px;
}

.product-display-3{
  display: flex;
  justify-content: space-between;
}

.p-5{
  width: 456px;
  height: 550px;
  background-color: #DBDBDB;
  border-radius: 40px;
  margin-left: 2rem;
  margin-top: 18rem;
  font-family: var(--Secondary-font);
  position: relative;
  padding: 2rem;
}

.p-5 h3{
  color: #218225;
  font-size: 40px;
  margin-top: 12rem;
}

.p-5 p{
  color: #191819;
  font-size: 26px;
}

.p5-img{
  position: absolute;
  transform: translateX(-10%);
  bottom: 16rem;
}

.p-6{
  font-family: var(--Secondary-font);
  width: 456px;
  height: 555px;
  margin-right: 2rem;
  margin-top: 20rem;
  padding: 2rem;
  border-radius: 40px;
  position: relative;
  background-color: #A9CD87 ;
}

.p-6 h3{
  font-size: 40px;
  margin-top: 10rem; 
  color: var(--Active-color);
}

.p-6 p {
  font-size: 26px;
  color: #191819;
}

.p6-img{
  position: absolute;
  transform: translateY(-50%);
  right: 0;
  left: 0;
}

.product-display-4{
  display: flex;
  justify-content: space-between;
}

.p-7{
  font-family: var(--Secondary-font);
  width: 456px;
  height: 588px;
  border-radius: 40px;
  margin-top: 18rem;
  margin-left: 2rem;
  position: relative;
  padding: 2rem;
  background-color: #A9CD87;
}

.p-7 h3{
  font-size: 40px;
  color: var(--Active-color);
  margin-top: 12rem;
}

.p-7 p{
  font-size: 26px;
  color: #191819;
}

.p7-img{
  position: absolute;
  transform: translateX(-12%);
  bottom: 18rem;
  left: 2;
}

.p-8{
  width: 456px;
  height: 750px;
  font-family: var(--Secondary-font);
  background-color: #DBDBDB;
  padding: 2rem;
  margin-right: 2rem;
  margin-top: 16rem;
  position: relative;
  border-radius: 40px;
}

.p-8 h3{
  font-size: 40px;
  margin-top: 18rem;
  color: #218225;
}

.p-8 p{
  font-size: 26px;
  color: #191819;
}

.p8-img{
  position: absolute;
  transform: translateY(-40%);
  right: 0;
  left: 0;
}

.navbar-UA{
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(33, 130, 37, 0.4);
}

.UA-header{
  font-family: var(--primary-font);
  font-size: 48px;
  color: #228B22;
}

.profile-img{
  display: flex;
  justify-content: space-around;
  padding: 1.4rem;
  margin-right: 1rem;
}

.profile-img h3{
  font-size: 20px;
  font-family: var(--primary-font);
  color: #228B22;
  margin-right: 0.75rem;
}

.back-icon{
  margin: 0;
  pad: 0;
}

.back-icon{
  margin-top: 2.75rem;
  margin-left: 1rem;
}

.AD{
  display: flex;
  justify-content: space-between;
}

.AD-list{
  width: 400px;
  height: 100%;
  background-color: rgba(33, 130, 37, 0.1);
}

.DB-list{
  list-style-type: none;
  padding: 14rem;
}

.DB-list p{
  font-family: var(--Secondary-font);
  font-size: 20px;
  font-weight: normal;
}

.li{
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
  cursor: pointer;
}

.li-img{
  margin-right: 1rem;
  margin-top: 1.25rem;
}

.active-button{
  width: 275px;
  height: 66px;
  border-radius: 32px;
  background-color: #218225;
  color: white;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: var(--Secondary-font);
  font-size: 30px;
  cursor: pointer;
  transition: background-color 0.9s;
}

.AD-content{
  width: 100%;
  height: 100%;
  padding: 4rem;
}

.AD-content-h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--Secondary-font);
  color: #218225;
  font-size: 36px;
  font-weight: normal;
}

.AD-content-1{
  display: flex;
  justify-content: space-between;
}

.AD-content-1 h2{
  font-size: 26px;
  font-weight: normal;
  color: var(--Active-color);
  font-family: var(--Secondary-font);
}

.AD-content-1 p{
  font-size: 24px;
  font-family: var(--Secondary-font);
  color: black;
}

.AD-content-1-1{
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.AD-content-1-2{
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.AD-content-2{
  display: flex;
  justify-content: space-between;
}

.AD-content-2 h2{
font-size: 26px;
  font-weight: normal;
  color: var(--Active-color);
  font-family: var(--Secondary-font);
}


.AD-content-2 p{
  font-size: 24px;
    font-family: var(--Secondary-font);
    color: black;
}

.AD-content-2-1{
  margin-left: 2rem;
  margin-top: 2rem;
}

.AD-content-2-2{
  margin-right: 2rem;
  margin-top: 2rem;
}

.PU-main-info{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.PU h2{
  font-family: var(--Secondary-font);
  font-size: 24px;
  font-weight: bolder;
}

.PU-img{
  display: flex;
  justify-content: space-around;
}

.PU-card-img{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cimg{
  padding: 0.35rem;
}

.PU-info-1{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.PU-info{
  padding: 0.35rem;
}

.PU-info h2{
  font-family: var(--Secondary-font);
  font-size: 24px;
}

.PU-info p {
font-family: var(--Secondary-font);
font-size: 20px;
font-weight: lighter;
}

.OH{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.OH h2{
  font-size: 46px;
  font-family: var(--Secondary-font);
  color: #218225;
  font-weight: bold;
  margin-bottom: 5rem;
}



.OH-info{
  width: 841px;
  height: 320px;
  background-color: #CFE6C7;
}

.info-1{
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  list-style-type: none;
  height: 100px;
}
.info-1 p{
font-size: 20px;
font-weight: 400;
color: #218225;
font-family: var(--Secondary-font);
}

.info-2{
  background-color:#DCEECC ;
}
.info-2-1{
  text-decoration: none;
  list-style-type: none;
  display: flex;
  justify-content: space-between;

}

.info-2-1 p{
  font-size: 20px;
  font-weight: 400;
  color: #218225;
  font-family: var(--Secondary-font);
}

.info-2-2{
  background-color:#DCEECC ;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

.info-2-2 p{
  font-size: 20px;
  font-weight: 400;
  color: #218225;
  font-family: var(--Secondary-font);
}

.OH-info-2{
  margin-top: 6rem;
  width: 841px;
    height: 320px;
    background-color: #CFE6C7;
}

.OT{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.OT h1{
  font-family: var(--Secondary-font);
  font: 36px;
  color: #218225;
}

.OT-input{
  width: 452px;
  height: 45px;
  border-radius: 32px;
  background-color: #D0E8BA;
  border: none;
  outline: none;
}

.OT-input ::placeholder{
  font-family: var(--Secondary-font);
  font-size: 26px;
}

.info-1 h1{
  font-family: var(--Secondary-font);
  font-size: 40px;
  color: #218225;
}

.CS-contact{
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
}

.contact-1{
  width: 200px;
  height: 60px;
  background-color: #CFE6C7;
  border-radius: 32px;
  display: flex;
  justify-content: space-around;
}

.contact-1 h2{
  color: #218225;
  font-family: var(--Secondary-font);
  font-size: 20px;
}

.contact-1 img{
  margin-top: 0.25rem;
}

.contact-2{
    width: 200px;
      height: 60px;
      background-color: #CFE6C7;
      border-radius: 32px;
      display: flex;
      justify-content: space-around;
}

.contact-2 h2{
color: #218225;
  font-family: var(--Secondary-font);
  font-size: 20px;
}

.contact-2-img{
  margin-top: 0.75rem;
  margin-right: 0.75rem;
}

.AD-content-1-1{
  margin-left: 7rem;
}

.AD-content-2-1{
  margin-left: 7rem;
}

.PU-img{
margin-top: 4rem;
}

.PU-card-img{
  margin-top: 6rem;
}

.PU-info-1{
  margin-top: 5rem;
}

.PU-info-2{
  margin-top: 6rem;
}

.PU-info-3{
  margin-top: 6rem;
}

.PU-info-4{
  margin-top: 6rem;
}

.CS{
  display: flex;
  align-items: center;
  justify-content: center;
}



.CS-faq{
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 8rem;
    width: 841px;
    height: 320px;
    background-color: #CFE6C7;
}

.CS-faq-1{
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    list-style-type: none;
    height: 100px;
}

.CS-faq-1 h1{
  font-family: var(--Secondary-font);
  font-size: 40px;
  color: #218225;
}

.CS-faq-2{
  background-color: #DCEECC;
}



.CS-faq-2-2{
  background-color: #DCEECC;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.CS-faq-2-2 p{
  font-family: var(--Secondary-font);
  font-weight: 400;
  color: #218225;
  font-size: 20px;
}



@media screen and  (max-width:390px) {
  .navbar{
    display: none;
  }
  .line{
    display: none;
  }
  .logo{
    left: 0;
    width: 113px;
    height: 56px;
    margin-left: 1rem;
    position: relative;
  }

  .logo h1{
    font-size: 20px;
  }

  .hamburger-icon{
    position: absolute;
    top: 0.6rem;
    margin-top: 6px;
    margin-right: 22px;
    display: flex;
    right: 0;
    flex-direction: column;
    cursor: pointer;
  }
  .dropdown-menu{
    width: 430px;
    height: 400px;
    padding: 2rem;
    font-family: var(--Secondary-font);
    font-size: 20px;
    background-color: #FFFFFF;
  }

 .hero-desc{
  font-family: var(--Secondary-font);
  font-size: 40px;
 }
 .desc-p{
   font-family: var(--Secondary-font);
  font-size: 18px;
  margin-top: 44px;
  margin-left: 15px; 
 }

 .pad-left{
  padding-left: 5rem;
 }

 .desktop-img{
  display: none;
 }

 .mb-img-1{
  margin-top: 4rem;
 }

.sign-up{
  margin-top: 24rem;
}

.mb-img-2{
   display: block;
   margin-bottom: 4rem;
  }
  .mb-img-3{
  display: block;
  margin-bottom: 7rem;
}

.mb-img-4{
  display: block;
  margin-bottom: 14rem;
  
}
.mb-img-5{
  display: block;
  display: none;
}

.About-us{
  flex-direction: column;
  justify-content: center;
  align-items: center
}
.AU-desc h1{
  font-family: var(--Secondary-font);
  font-size: 36px;
}
.AU-desc p{
  font-family: var(--Secondary-font);
  font-size: 18px;
}
.AU-desc{
  margin-left: 15px;
}
.au-sm-img{
  display: block;
}

.serv-img-1{
  display: block;
  width: 60px;
  height: 60px;
}
.flex-container{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.rectangle{
  align-items: center;
  justify-content: center;
  width: 314px;
  height: 290px;
  background-color: #FFFFFF;
  border-radius: 26px;
}

.rectangle h1{
  font-size: 25px;
}
.rectangle p{
  font-size: 14px;
}
.serv-head h1{
  font-size: 30px;
  margin-top: 1rem;
}
.serv-img-3{
  display: block;
  width: 60px;
  height: 60px;
}
.rectangle:nth-child(2),.rectangle:nth-child(4){
  padding-top: 0px;
  margin-left: 1.6rem;
  margin-bottom: 4rem;

  
}
.serv-img-2{
  display: block;
  width: 60px;
  height: 60px;
}
.serv-img-4{
  display: block;
  width: 60px;
  height: 60px;
}

.rectangle-3{
  justify-content: center;
  align-items: center;
}
.faq h1{
  color: var(--Active-color);
  font-size: 24px;
}
.faq-cards{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.serv-info{
  height: 1400px;
}
.footer{
  display: flex;
  flex-direction: column;
}
.footer-2,.footer-3{
  font-family: var(--Secondary-font);
  font-size: 21px;
}
.login-img{
  display: none;
}

.login-desc h1{
  font-size: 26px;
}
.login-p{
  font-size: 21px;
}

.input{
  text-decoration: none;
    width: 355px;
    height: 62px;
    background-color: #EBE9E9;
    border: none;
    outline: none;
    border-radius: 12px;
    margin-left: 0.4rem;
}

.login-main{
  display: flex;
  flex-direction: column;
}
.logo-center{
  display: none;
}
.login-button{
  margin-left: 1rem;
}
.register-1 {
  display: none;
}

.register-p{
  font-size: 21px;
}

.register-p-1{
  font-size: 14px;
}
.register-main{
  display: flex;
  flex-direction: column;
}

.register-input{
  text-decoration: none;
    width: 355px;
    height: 62px;
    background-color: #EBE9E9;
    border: none;
    outline: none;
    border-radius: 12px;
    margin-left: 0.4rem;
}

.register-1{
  margin-left: 0;
}
.login-input h2{
  display: none;
}

.product-display{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-display-2{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-display-3{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-display-4{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-1{
  width: 310px;
  height: 403px;
  border-radius: 30px;
}

.p-1 h3{
  font-size: 30px;
}

.p-1 p{
  font-size: 20px;
}

.p-2{
  width: 310px;
  height: 525px;
  border-radius: 30px;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.p-2 h3{
  font-size: 30px;
}

.p-2 p{
  font-size: 20px;
}

.p-3{
  width: 310px;
  height: 480px;
  border-radius: 30px;
  margin-right: 1.5rem;
}

.p-3 h3{
  font-size: 30px;
}

.p-3 p{
  font-size: 20px;
}

.p-4{
  width: 340px;
  height: 440px;
  border-radius: 30px;
  margin-left: 1rem;
}

.p-4 h3{
  font-size: 30px;
}

.p-4 p{
  font-size: 20px;
}

.p-5{
  width: 310px;
  height: 410px;
  border-radius: 30px;
  margin-right: 1.5rem;
}

.p-5 h3{
  font-size: 30px;
}

.p-5 p{
  font-size: 20px;
}

.p-6{
  width: 310px;
  height: 480px;
  border-radius: 30px;
  margin-left: 1.5rem;
}

.p-6 h3{
  font-size: 30px;
}

.p-6 p{
  font-size: 20px;
}

.p-7{
  width: 310px;
  height: 440px;
  border-radius: 30px;
  margin-right: 1.5rem;
}

.p-7 h3{
  font-size: 30px;
}

.p-7 p{
  font-size: 20px;
}

.p-8{
  width: 310px;
  height: 600px;
  border-radius: 30px;
  margin-left: 1.5rem;

}

.p-8 h3{
  font-size: 30px;
}

.p-8 p{
  font-size: 20px;
}

.order{
  width: 100px;
  height: 35px;
}
.enquire{
  width: 120px;
  height: 35px;
}

.navbar-UA{
  display: flex;
}

.UA-header{
  font-size: 30px;
  font-family: var(--Secondary-font);
  font-weight: bold;
  margin-top: 2.5rem;
  margin-left: 3rem;
}

.profile-img h3{
  display: none;
}

.HM-img{
  margin-left: 2rem;
  margin-top: 1.5rem;
}

.AD-list{
  display: none;
}

.AD-content-h1{
  font-size: 24px;
}

.AD-content-1-1 h2{
  font-size: 20px;
}

.AD-content-1-1 p{
  font-size: 16px;
}

.AD-content-1-2 h2{
  font-size: 20px;
}

.AD-content-1-2 p{
  font-size: 16px;
}

.AD-content-2-1 h2{
  font-size: 20px;
}

.AD-content-2-1 p{
  font-size: 16px;
}

.AD-content-2-2 h2{
  font-size: 20px;
}

.AD-content-2-2 p{
  font-size: 16px;
}

.AD-content-1-1{
  margin: 0rem;
  padding: 0rem;
}

.AD-content-1-2{
  margin: 0rem;
  padding: 0rem;
}

.AD-content-2-1{
  margin: 0rem;
  padding: 0rem;
}

.AD-content-2-2{
  margin: 0rem;
  padding: 0rem;
}

.AD-content-1{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.AD-content-2{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.PU-img{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
   align-items: center;
  padding: 0rem;
  margin-right: 6rem;
  margin-top: 0rem;
}

.PU-img-2{
  margin-top: 1rem;
}

.PU-img-3{
  margin-top: 1rem;
}

.PU-info-1{
  display: none;
}

.PU-info-2{
  display: none;
}

.PU-info-4{
  display: none;
}

.PU-card-img{
  margin-right: 3rem;
}

.PU-card-img h2{
  font-size: 20px;
}

.PU-card-img p{

  font-size: 16px;
}

.PU-info-3 h2{
  font-size: 20px;
}

.PU-info-3 p{
  font-size: 16px;
}

.PU-info-3{
  margin-right: 7rem;
}

.OH h2{
 font-size: 24px;
  margin-right: 7rem;
 padding: 0rem;
}

.OH-info{
  width: 376px;
  height: 174px;
  margin-right: 8rem;
}

.OH-info-2{
  width: 376px;
  height: 174px;
  margin-right: 8rem;
}

.info-1 p{
 font-size: 16px;
}

.info-1-i1{
  display: none;
}

.info-1-i4{
  display: none;
}

.info-3-i3{
  display: none;
}

.info-2 p{
  font-size: 16px;
}


.info-2-1{
  display: none;
}

.info-1-i2{
  margin-right: 7rem;
}

.info-3-i1{
  margin-right: 5rem;
}

.info-4-i1{
  display: none;
}

.info-4-i4{
  display: none;
}

.info-5-i1{
  display: none;
}

.info-5-i2{
  display: none;
}

.info-6-i3{
  display: none;
}

.info-4-i2 p{
  font-size: 16px;
}

.info-4-i3 p{
  font-size: 16px;
}

.info-6-i1 p{
  font-size: 16px;
}

.info-4-i2{
  margin-right: 7rem;
}

.info-6-i1{
  margin-right: 6rem;
}

.OT h1{
  font-size: 36px;
  font-weight: 400;
  margin-right: 6rem;
}

.OT-input{
  width: 338px;
  height: 45px;
  margin-right: 7rem;
}

.CS{
  margin-right: 2rem;
}

.CS-faq-2-2{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CS-faq{
  width: 397px;
  height: 257px;
  margin-right: 4rem;
}

.CS-faq-2{
  display: flex;
  flex-direction: column;
}

.CS-contact{
  display: flex;
  flex-direction: column;
}

.contact-1{
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.contact-2{
  margin-left: 2rem;
}

.HB-list p{
  font-family: var(--Secondary-font);
  font-size: 14px;
}

.HB-list{
  list-style-type: none;
  padding: 0.25rem;
}

.HB-menu-list{
  position: relative;
  right: 90px;
}

.active-button-HB{
  width: 100px;
    height: 45px;
    border-radius: 32px;
    background-color: #218225;
    color: white;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: var(--Secondary-font);
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.9s;
    list-style-type: none;
    text-align: center;
}



.AD-content{
  position: relative;
    right: 200px;
    top: 50px;
    padding: 0rem;
}

.PU{
  position: relative;
    right: 100px;
    top: 50px;
}

.OH{
  position: relative;
    right: 91.5px;
    top: 50px;
}

.OT{
  position: relative;
    right: 70px;
    top: 50px;
}



.CS{
  position: relative;
    right: 95px;
    top: 50px;
}



}




@media (min-width : 390px) {
  .desktop-img{
    display: block;
  }

  .mobile-img{
    display: none;
  }

  

}